<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <!-- <script>/*@cc_on window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script> -->
  <script>/*@cc_on document.write('\x3Cscript id="_iealwn_js" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); @*/</script>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keyword" content="{$info['keyword']}">
  <meta name="description" content="{$info['describe']}">
  <title>{$title}</title>
  <link rel="stylesheet" href="__SPI__/css/base.css">
  <link rel="stylesheet" href="__SPI__/css/detail.css">
  <link rel="stylesheet" href="__HOME__/font/syht.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src='__HOME__/js/common.js'></script>
  <script src='__PUBLIC__/common/js/public.js'></script>
  <script src="__SPI__/js/detail.js"></script>
  <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
  <style>
    /* 归属信息 */
    .affiliation {
      text-align: right;
      font-size: 10px;
      color: #ccc;
      padding-right: 20px;
      margin-top: 200px;
    }

    .page {
      margin-top: 60px;
    }
  </style>
</head>

<body>
  <div class='container'>
    <div class='header'>
      <div class=header_content id='headerContent'>
        <div class='logo'>
          <a href="{:url('/home/index/index')}"></a>
        </div>
        <ul class='titile'>
          <li class='nav-active'><a href="{:url('/home/index/index')}">首页</a></li>
          <li><a href="javascript:;">招募合伙人</a>
          </li>
          <li>
            <a href="javascript:;">“惠”家族产品</a>
            <!-- 二级菜单 -->
            <div class="w secondary-menu" id="secondary-menu">
              <div>
                <dl>
                  <dt><a href="{:config('curl.hys')}" target="_blank">惠优税</a></dt>
                  <dd>
                    · 企业财税筹划定制

                  </dd>
                  <dd>· 一体化解决方案</dd>
                </dl>
                <dl>
                  <dt><a href="{:config('curl.hlg')}" target="_blank">惠灵工</a></dt>
                  <dd>
                    · 企业灵活用工平台
                  </dd>
                  <dd>· 财税优化综合服务</dd>
                </dl>
                <dl>
                  <dt><a href="{:url('/home/many/index')}">惠多薪</a></dt>
                  <dd>
                    · 优化薪酬结构

                  </dd>
                  <dd>· 为企业降本增效</dd>
                </dl>
                <dl>
                  <dt><a href="{:url('/home/searches/index')}">惠找事</a></dt>
                  <dd>
                    · 精选各地好工作

                  </dd>
                  <dd>· 高效缔结，轻松入职</dd>
                </dl>
                <dl>
                  <dt><a href="{:url('/home/business/index')}">惠创业</a></dt>
                  <dd>
                    · 创业公司

                  </dd>
                  <dd>· 一站式商务服务</dd>
                </dl>
                <dl>
                  <dt><a href="{:url('/home/launch/index')}">惠企动</a></dt>
                  <dd>· 企业互联网生态管理</dd>
                  <dd>· 全行业全渠道数字化转型</dd>
                </dl>
              </div>
            </div><!-- 二级菜单 -->
          </li>
          <li><a href="{:url('/home/index/infoBiao')}">招标信息</a></li>
          <li><a href="{:url('/home/index/infoList')}">政府招商政策</a></li>
          <li><a href="{:url('/home/index/industry')}">新闻资讯</a></li>
          <!-- <li><a href="{:url('/home/launch/index')}">惠启动</a></li> -->
        </ul>
        <!--{if empty($userinfo['mobile'])}-->
        <!--<div class='register'>-->
        <!--<a href="javascript:void(0)"-->
        <!--login_url="{$baseurl}"-->
        <!--loca_url="{:config('curl.website')}" onclick="login_btn(this)">登录</a>-->
        <!--<a href="{:url('/home/login/register')}">注册</a>-->
        <!--</div>-->
        <!--{else /}-->
        <!--{include file="common/login"}-->
        <!--{/if}-->
      </div>
    </div>

    <div class='bread_title'>
      <a class="actives" href="{:url('/home/index/index')}">首页 ></a>
      <a class="actives" onclick="go_news(this)" data-url="{:url('/home/index/infoList')}">资讯</a> >
      <a class="activees" href="javasrcipt:;">新闻详情</a></div>
    <div class='main_content'>
      <div class='content_middle'>
        <div class='pic_total'>
          <div class='pic_title'>{$info.title}</div>
          <div class='time'>{$info.release_time}</div>
          <div class='line'></div>
          <div class='tuwen'>
            <div class='wenzi'>{$info.content}</div>

            <div class="affiliation">
              <p>本信息来源：中国招标网</p>
            </div>

            <div class='page'>
              {empty name='top'}
              <div><span>上一篇:</span><a href="javascript:;">已经是第一篇了</a></div>
              {else /}
              <div><span>上一篇:</span><a href="{:url('/home/index/getInfo',array('mid'=>$top.id))}">{$top.title}</a></div>
              {/empty}

              {empty name='next'}
              <div><span>下一篇:</span><a href="javascript:;">已经是最后一篇了</a></div>
              {else /}
              <div><span>下一篇:</span><a href="{:url('/home/index/getInfo',array('mid'=>$next.id))}">{$next.title}</a>
              </div>
              {/empty}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    {include file="common/footer" /}

    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
      <i></i>
      <div>返回顶部</div>
    </div>

  </div>
</body>

</html>