{extend name="layout/dialog" /}
{block name='content'}
<style>
    .dialog-content{margin:20px;}
    .dialog-footer{position:fixed;right:39%;top:82%}
    .red-color{color:red;}
</style>
<div class="dialog-content">
    <form class="form-horizontal dialog-form" id="form">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">
                        <span class="red-color">*</span>标签名：</label>
                    <div class="col-sm-9">
                        <input type="text"  value="{$info.title}" class="form-control form-control-sm" id="title" name="title">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">需要显示的页面：</label>
                    <div class="col-sm-9">
                        <select id="disablekey" class="selectpicker form-control" multiple  title="请选择..." >
                            {volist name="disable" id="disable_list"}
                            <option value="{$key}" data-width="100%" {if in_array($key,$info['disable'])}selected="selected"{/if}>{$disable_list}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sort" class="col-sm-3 control-label">
                        <span class="red-color">*</span>排序：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"  id="sort" value="{$info.sort|default='0'}"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="td-align dialog-footer">
            <button class="btn btn-warning cancle" > <i class="fa fa-close"></i> 取消</button>
            <input type="hidden" id="mid" value="{$info.id}">
            <button class="btn btn-primary edit_biao" type="button"  data-url="{:url('/v1/cate/ifications/edit')}">
                <i class="fa fa-save"></i> 确定提交</button>
        </div>
    </form>
</div>
{/block}
