/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }
}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Sans SC","syht";
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a {
    text-decoration: none;
}

.actives {
    color: rgba(153, 153, 153, 1);
}

.actives:hover {
    color: #4091FF;
    cursor: pointer;
}

.activees {
    color: #4091FF;
    cursor: default;
}

.container {
    width: 100%;
}


.main_content {
    width: 100%;
    /* height: 1852px; */
    /* background: rgba(245, 249, 255, 1); */
    background: #ffffff;
}

.content_middle {
    width: 75rem;
    margin: 0 auto;
}
.bgBread{
    background: rgba(245, 249, 255, 1)!important;
}
.bread_title {
    height: 4.75rem;
    line-height: 4.75rem;
    font-size: 1rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    /* padding-left: 25.87rem; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* background: rgba(245, 249, 255, 1); */
}

/*.bread_title:hover{*/
/*    color: #4091FF;*/
/*    cursor: pointer;*/
/*}*/


.pic_total {
    width: 75rem;
    /* height: 1780px; */
    background: rgba(255, 255, 255, 1);
    /* padding: 2rem 5.25rem 0 3.375rem; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.pic_title {
    font-size: 1.875rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    color: #333;
    margin-top: 2.5rem;
}

.time {
    margin-top: 1.5625rem;
    font-size: .75rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(245, 245, 245, 1);
    margin-top: 1.375rem;
}

.tuwen {
    padding: 2.125rem 2rem 5rem 2rem;
    border-bottom: 1px solid #F5F5F5;
}



.wenzi {
    font-size: .875rem;
    font-family: "微软雅黑";
    font-weight: 400;
    line-height: 1.5rem;
    /* margin: .875rem 0; */
    color: #333333;
}

.wenzi:nth-child(1) {
    margin-bottom: 0.25rem;
}

.tuwen img:nth-of-type(1) {
    display: inline-block;
    width: 40rem;
    height: 30rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.tuwen img:nth-of-type(2) {
    display: inline-block;
    width: 40rem;
    height: 26.625rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.song,
.dong,
.xian,
.more {
    font-size: .875rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #333;
}

.song {
    margin-top: .625rem;
}

.dong {
    line-height: 1.5rem;
}

.page {
    margin-top: 0!important;
    padding: 3.25rem 0 5rem 0;
    font-size: .875rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.page div {
    margin-bottom: .375rem;
    
}
.page div:last-child{
    margin-bottom: 0;
}

.page div span {
    margin-right: 0.3125rem;
}

.page div a:hover {
    color: #7eb4fd
}

.page div a {
    color: #999999;
}

/* 底部 */
.bottomBox {
    background: #323c48;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .bottomBox .bottom {
    color: #dcdcdc;
  }
  
  .bottomBox .bottom .aboutUs {
    padding-top: 5.25rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #7a7a7a;
  }
  
  .bottomBox .bottom .aboutUs span {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #fff;
    font-family: "Noto Sans SC","syht";
    font-weight: 500;
  }
  
  .bottomBox .bottom .aboutUs p {
    margin-top: 2.125rem;
    line-height: 1.75rem;
    vertical-align: top;
  }
  
  .bottomBox .bottom .navBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.75rem;
    border-bottom: 1px solid #7a7a7a;
  }
  
  .bottomBox .bottom .navBottom .navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  .bottomBox .bottom .navBottom .navList dl {
    margin-right: 6.25rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dt {
    cursor: default;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-family: "Noto Sans SC","syht";
    margin-bottom: 3.25rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dd {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dd a {
    display: block;
    color: #dcdcdc;
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(3) a,
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(4) a,
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
  }
  
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) {
    margin: 0;
  }
  
  .bottomBox .bottom .navBottom .navList dl:nth-child(3) dd a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
  }
  
  .bottomBox .bottom .navBottom .navList dl:last-child {
    margin: 0;
  }
  
  .bottomBox .bottom .navBottom .qrCode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .bottomBox .bottom .navBottom .qrCode li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .bottomBox .bottom .navBottom .qrCode li .pic {
    width: 6.25rem;
    height: 6.25rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li .pic img {
    width: 100%;
    height: 100%;
  }
  
  .bottomBox .bottom .navBottom .qrCode li span {
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 1.875rem;
    margin-bottom: .75rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li span img {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: .375rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li i {
    font-size: .75rem;
    font-style: normal;
    color: #fff;
  }
  
  .bottomBox .bottom .navBottom .qrCode li:first-child {
    margin-right: 1.625rem;
  }
  
  .bottomBox .copyRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
    line-height: .875rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem 0;
    color: #C3C3C3;
  }
  
/* 返回顶部 */

.goTop {
    position: fixed;
    bottom: 1.25rem;
    right: 8.4375rem;
    width: 3.125rem;
    height: 2.8125rem;
    text-align: center;
    z-index: 999;
    background-color: #fff;
    padding-top: 0.3125rem;
    display: none;
    cursor: pointer
}

.goTop i {
    overflow: hidden;
    /* float: right; */
    display: inline-block;
    width: 1.4375rem;
    height: 1.625rem;
    background-size: contain;
    background-image: url('../images/goback.png');
}

.goTop div {
    font-size: 0.5625rem;
    font-family: "Noto Sans SC","syht";
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}